<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2009 Weltevree Beheer BV, Nederland (34187613)                   
                                                                         
    All rights reserved. This program and the accompanying materials     
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at             
    http://www.eclipse.org/legal/epl-v10.html                            
                                                                         
    Contributors:                                                        
       Wim Jongman - initial API and implementation
 -->

<plugin>
   <extension-point id="storeProvider" name="Salvo Store Provider" schema="schema/storeProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ecf.salvo.ui.category1"
            name="Salvo Newsreader">
      </category>
      <view
            category="org.eclipse.ecf.salvo.ui.category1"
            class="org.eclipse.ecf.salvo.ui.internal.views.MessageView"
            icon="icons/messages.gif"
            id="org.eclipse.ecf.salvo.ui.internal.views.messageView"
            name="MessageView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.salvo.ui.category1"
            class="org.eclipse.ecf.salvo.ui.internal.views.ReplyView"
            icon="icons/reply.gif"
            id="org.eclipse.ecf.salvo.ui.internal.views.replyView"
            name="Reply"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.salvo.ui.category1"
            class="org.eclipse.ecf.salvo.ui.internal.views.PostNewArticleView"
            icon="icons/new_news.gif"
            id="org.eclipse.ecf.salvo.ui.internal.views.postNewArticleView"
            name="New Article"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.salvo.application.perspective">
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ecf.salvo.application.bottomleft">
         </view>
         <view
               id="org.eclipse.ecf.salvo.ui.internal.views.messageView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ecf.salvo.application.bottomright">
         </view>
         <view
               id="org.eclipse.ecf.salvo.ui.internal.views.replyView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ecf.salvo.application.right"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         name="org.eclipse.mylyn.tasks.ui.bug.report"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.ecf.salvo.ui.command.open"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isNewsgroup">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.subscribe"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isSubscribable"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.ui.command.unsubscribe"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isSubscribable"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.replyToGroup"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isArticle"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.ui.changeServer"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isServer"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.mark"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <test
                        property="org.eclipse.ecf.salvo.ui.isArticle"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.ui.dirty"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.navigator.internal.views.newsserverview">
         <command
               commandId="org.eclipse.ecf.salvo.ui.addserver"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.internal.views.messageView">
         <command
               commandId="org.eclipse.ecf.salvo.replyToGroup"
               id="org.eclipse.ecf.salvo.replyToGroupMenu"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ecf.salvo.replyToGroupMenu">
         <command
               commandId="org.eclipse.ecf.salvo.replyToGroup"
               id="org.eclipse.ecf.salvo.replyToGroupMenu"
               style="pulldown">
         </command>
         <command
               commandId="org.eclipse.ecf.salvo.replyToMail"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.ecf.salvo.ui.toolbar2">
         </toolbar>
         <toolbar
               id="org.eclipse.ecf.salvo.ui.articlepanel.toolbar">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.ecf.salvo.ui.articlepanel">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.toolbar2?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/showview.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.internal.views.replyView">
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.internal.views.postNewArticleView">
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ecf.salvo.ui.articlepanel.toolbar">
         <command
               commandId="org.eclipse.ecf.salvo.postNewArticle"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?before=additions">
         <command
               commandId="org.eclipse.ecf.salvo.ui.ask"
               icon="icons/ask.gif"
               label="Ask a Question..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="News"
            id="org.eclipse.ecf.salvo.commands.category"
            name="News">
      </category>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            defaultHandler="org.eclipse.ecf.salvo.ui.internal.handlers.SubscribeHandler"
            description="Subscribe"
            id="org.eclipse.ecf.salvo.subscribe"
            name="Subscribe">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            description="Add News Server"
            id="org.eclipse.ecf.salvo.ui.addserver"
            name="Add News Server">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            id="org.eclipse.ecf.salvo.ui.command.unsubscribe"
            name="Unsubscribe">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            id="org.eclipse.ecf.salvo.ui.command.open"
            name="Open">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            description="Reply to Group"
            id="org.eclipse.ecf.salvo.replyToGroup"
            name="Reply to Group">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            defaultHandler="org.eclipse.ecf.salvo.ui.internal.handlers.ReplyToMailHandler"
            description="Reply to Mail"
            id="org.eclipse.ecf.salvo.replyToMail"
            name="Reply to Mail">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            description="Change News Server"
            id="org.eclipse.ecf.salvo.ui.changeServer"
            name="Change News Server">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            description="Make new news"
            id="org.eclipse.ecf.salvo.postNewArticle"
            name="New Article">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            defaultHandler="org.eclipse.ecf.salvo.ui.internal.handlers.DummyHandler"
            id="org.eclipse.ecf.salvo.ui.ask"
            name="Ask a Question...">
      </command>
      <command
            categoryId="org.eclipse.ecf.salvo.commands.category"
            description="Mark this Article"
            id="org.eclipse.ecf.salvo.mark"
            name="mark">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.salvo.ui.DirtyHandler"
            id="org.eclipse.ecf.salvo.ui.dirty"
            name="Dirty">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ecf.salvo.ui.addserver"
            icon="icons/addserver.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.ui.command.unsubscribe"
            icon="icons/remove_correction.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.subscribe"
            icon="icons/add_correction.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.replyToGroup"
            icon="icons/reply.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.replyToMail"
            icon="icons/replymail.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.postNewArticle"
            icon="icons/new_news.gif">
      </image>
      <image
            commandId="org.eclipse.ecf.salvo.mark"
            icon="icons/follow.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.AddServer"
            commandId="org.eclipse.ecf.salvo.ui.addserver">
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.UnsubscribeHandler"
            commandId="org.eclipse.ecf.salvo.ui.command.unsubscribe">
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.OpenArticlePanel"
            commandId="org.eclipse.ecf.salvo.ui.command.open">
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.ReplyToGroupHandler"
            commandId="org.eclipse.ecf.salvo.replyToGroup">
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.ChangeServer"
            commandId="org.eclipse.ecf.salvo.ui.changeServer">
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.PostNewArticleHandler"
            commandId="org.eclipse.ecf.salvo.postNewArticle">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.ecf.salvo.ui.hasNewsgroup"
                        value="true">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.ecf.salvo.ui.internal.handlers.MarkArticle"
            commandId="org.eclipse.ecf.salvo.mark">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ecf.salvo.ui.news"
            class="org.eclipse.ecf.salvo.ui.wizards.NewNewsServerWizard"
            icon="icons/addserver.gif"
            id="org.eclipse.ecf.salvo.ui.newnewsserverwizard"
            name="New News Server">
      </wizard>
      <category
            id="org.eclipse.ecf.salvo.ui.news"
            name="News">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ecf.salvo.ui.internal.ResourcePropertyTester"
            id="org.eclipse.ecf.salvo.ui.internal.ResourcePropertyTester"
            namespace="org.eclipse.ecf.salvo.ui"
            properties="class, isNewsgroup, isServer, isArticle, isSubscribable, hasNewsgroup"
            type="org.eclipse.ecf.salvo.ui.internal.resources.ISalvoResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.ecf.salvo.ui.internal.provider.SalvoDecorator"
            id="org.eclipse.ecf.salvo.ui.decorator1"
            label="Salvo Decorator"
            lightweight="true"
            objectClass="org.eclipse.ecf.protocol.nntp.model.resources.AbstractSalvoResource"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.ecf.salvo.ui.internal.resources.ISalvoResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.salvo.ui.internal.editor.ArticlePanel"
            id="org.eclipse.ecf.salvo.ui.articlepanel"
            name="Articles">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.ecf.salvo.ui.properties.SalvoPropertyPage"
            icon="icons/add_correction.gif"
            id="org.eclipse.ecf.salvo.ui.properties.SalvoPropertyPage"
            name="Salvo Properties"
            nameFilter="*.*"
            objectClass="org.eclipse.ecf.salvo.ui.internal.resources.ISalvoResource">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipse.ecf.salvo.ui.internal.resources.ISalvoResource">
               </instanceof>
            </iterate>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.salvo.ui.internal.resources.ISalvoResource"
            class="org.eclipse.ecf.salvo.ui.internal.SalvoAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            id="org.eclipse.ecf.salvo.ui.fontDefinition1"
            isEditable="true"
            label="Salvo">
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ecf.salvo.ui.internal.preferences.SalvoPreferencePage"
            id="org.eclipse.ecf.salvo.ui.internal.salvo"
            name="Salvo">
         <keywordReference
               id="org.eclipse.ecf.salvo.ui.newsreader">
         </keywordReference>
      </page>
      <page
            category="org.eclipse.ecf.salvo.ui.internal.salvo"
            class="org.eclipse.ecf.salvo.ui.internal.preferences.SignaturePreferencePage"
            id="org.eclipse.ecf.salvo.ui.internal.signaturePreferencePage"
            name="Signatures">
         <keywordReference
               id="org.eclipse.ecf.salvo.ui.newsreader">
         </keywordReference>
         <keywordReference
               id="org.eclipse.ecf.salvo.ui.signature">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.ecf.salvo.ui.newsreader"
            label="newsreader salvo nntp usenet news">
      </keyword>
      <keyword
            id="org.eclipse.ecf.salvo.ui.signature"
            label="signature message ">
      </keyword>
   </extension>

</plugin>
