<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.salvo.ui.newsgroupProvider">
      <newsgroup
            class="TestNewsgroupProvider"
            description="test newsgroup"
            name="org.eclipse.ecf.salvo.newsgroupprovider.test.newsgroup1">
         <enablement>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="org.eclipse.ecf.salvo.ui.internal.views.messageView">
                  </equals>
                  <equals
                        value="org.eclipse.ecf.salvo.ui.internal.views.digest.DigestView">
                  </equals>
               </or>
            </with>
         </enablement>
      </newsgroup>
      
   </extension>

</plugin>
